name: CI

on:
  push:
  pull_request:

jobs:
  rust:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: software/kernel
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: clippy
          override: true
      - name: Cargo check
        run: cargo check --workspace
      - name: Cargo test
        run: cargo test --workspace --all-features
